{% extends 'backend/basebackend.html.twig' %}

{% block title %}New Subcategory{% endblock %}

{% block main %}
    <h1>Create new Subcategory</h1>

    {{ include('backend/forum/subcategory/_form.html.twig') }}

    <a href="{{ path('subcategory_index') }}">back to list</a>
{% endblock %}
