{% extends 'base.html.twig' %}

{% block body %}
    HOMEPAGE
    <a href="{{path('codex')}}">Codex</a>
    <a href="{{path('backend_article_index')}}">Backend Article</a>
    <a href="{{path('backend_tag_index')}}">Backend Tag</a>
{% endblock %}
