{% extends 'backend/basebackend.html.twig' %}

{% block title %}Modifier le tag{% endblock %}

{% block main %}
    <h1 class="mb-3 mt-3">Modifier le tag</h1>

    {{ include('backend/codex/tag/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}