{% extends 'backend/basebackend.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block main %}
    <h1>Modifier le tag</h1>

    {{ include('backend/codex/tag/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('backend_tag_index') }}">Retour</a>
{% endblock %}