{% extends 'backend/basebackend.html.twig' %}

{% block title %}Modifier la sous-catégorie{% endblock %}

{% block main %}
    <h1 class="mb-3 mt-3">Modifier la sous-catégorie</h1>
    {{ include('backend/forum/subcategory/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
