/**
 * Import
 */
@import src/styles/vars

/**
 * Style
 */
.sheet
    background-color: blue
    height: 100%
    witdh: 100%
    background: url(../../../assets/img/paper2.jpg) no-repeat
    background-size: cover
