{% extends 'backend/basebackend.html.twig' %}


{% block title %}Modifier l'utilisateur{% endblock %}

{% block main %}
    
    <h1 class="mb-3 mt-3">Modifier l'utilisateur</h1>
    {{ include('backend/user/_form.html.twig', {'button_label': 'Envoyer'}) }}
{% endblock %}
