{% extends 'backend/basebackend.html.twig' %}


{% block title %}Edit User{% endblock %}

{% block main %}
    <h1>Edit User</h1>
    <a class="btn btn-primary mb-2" href="{{ path('backend_user_index') }}">Retour</a>

    {{ include('backend/user/_form.html.twig', {'button_label': 'Envoyer'}) }}
{% endblock %}
