{% extends 'backend/basebackend.html.twig' %}

{% block title %}Administrer le Codex{% endblock %}

{% block main %}
    <a href="{{path('backend_article_index')}}">Backend Article</a>
    <a href="{{path('backend_tag_index')}}">Backend Tag</a>
{% endblock %}