{% extends 'base.html.twig' %}
{% block title %}A propos {% endblock %}
{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">
        <h1>A propos</h1>
        <div class="about">
            <h2>Aetherlust, c'est quoi ?</h2>
                <p>
                    Aetherlust est un jeu de rôle à la fois <strong>textuel</strong> et <strong>plateau</strong>.
                    Le site se décompose en trois parties : le Codex dans lequel vous retrouverez les règles, l'histoire et les annexes de l'univers, le Forum sur lequel vous pourrez écrire les périples de votre personnage et enfin la Room, où vous pourrez vivre des aventures à plusieurs face à un Maître de Jeu.
                </p>

            <h2>Qu'est ce que Wordsmith ?</h2>
                <small>
                    <strong>Wordsmith :</strong> de word (« mot ») et smith (« forgeron »).
                </small>
                <p>
                    Parce que notre projet ne propose pas seulement un site sur lequel les utilisateurs peuvent vivre des aventures, mais également tout un univers monté de toutes pièces et aussi l'opportunité pour les utilisateurs d'intégrer leurs personnages à l'univers en écrivant leurs aventures, nous avons décidé 
                    que le projet s'appellerait Wordsmith. 
                </p>
                <p>
                    Wordsmith est un projet à l’initiative de 4 étudiants de la formation <a target="blank" href="https://oclock.io/">O'clock</a>. 
                    A la fin de nos 4 mois de formation, les formateurs nous ont demandé de former des équipes pour élaborer un projet dans les conditions du réel d'un développeur en entreprise. Puisque nous avions déjà travaillé ensemble lors de la formation, c’est tout naturellement que le groupe Wordsmith s’est formé.
                </p>
            <h2 id="nous">Qui sommes-nous ?</h2>
                <div class="who-container-left">
                    <h3>Eric Naud ()</h3>
                    <img src="https://via.placeholder.com/60x60"> 
                    <p>
                        Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus disciplinarum liberalium inpendio paucis sine respiratione ulla extrusis, tenerentur minimarum adseclae veri, quique id simularunt ad tempus, et tria milia saltatricum ne interpellata quidem cum choris totidemque remanerent magistris.
                        Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu Eubuli cuiusdam inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio imperiali addictum calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post cuius lacrimosum interitum in unius exitio quisque imaginem periculi sui considerans documento recenti similia formidabat.
                    </p>
                </div>
                <div class="who-container-right">
                    <h3>Mathieu Nguyen ()</h3>
                     <img src="https://via.placeholder.com/60x60"> 
                    <p>
                        Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus disciplinarum liberalium inpendio paucis sine respiratione ulla extrusis, tenerentur minimarum adseclae veri, quique id simularunt ad tempus, et tria milia saltatricum ne interpellata quidem cum choris totidemque remanerent magistris.
                        Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu Eubuli cuiusdam inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio imperiali addictum calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post cuius lacrimosum interitum in unius exitio quisque imaginem periculi sui considerans documento recenti similia formidabat.
                    </p>
                </div>
                <div class="who-container-left">
                    <h3>Mathieu Barry (Biblizar)</h3>
                    <img src="https://via.placeholder.com/60x60"> 
                    <p>
                        Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus disciplinarum liberalium inpendio paucis sine respiratione ulla extrusis, tenerentur minimarum adseclae veri, quique id simularunt ad tempus, et tria milia saltatricum ne interpellata quidem cum choris totidemque remanerent magistris.
                        Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu Eubuli cuiusdam inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio imperiali addictum calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post cuius lacrimosum interitum in unius exitio quisque imaginem periculi sui considerans documento recenti similia formidabat.
                    </p>
                </div>
                <div class="who-container-right">
                    <h3>Marion Job (Moony)</h3>
                     <img src="https://via.placeholder.com/60x60"> 
                    <p>
                        Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus disciplinarum liberalium inpendio paucis sine respiratione ulla extrusis, tenerentur minimarum adseclae veri, quique id simularunt ad tempus, et tria milia saltatricum ne interpellata quidem cum choris totidemque remanerent magistris.
                        Auxerunt haec vulgi sordidioris audaciam, quod cum ingravesceret penuria commeatuum, famis et furoris inpulsu Eubuli cuiusdam inter suos clari domum ambitiosam ignibus subditis inflammavit rectoremque ut sibi iudicio imperiali addictum calcibus incessens et pugnis conculcans seminecem laniatu miserando discerpsit. post cuius lacrimosum interitum in unius exitio quisque imaginem periculi sui considerans documento recenti similia formidabat.
                    </p>
                </div>

            <h2>Où nous suivre ?</h2>
            <p>
                Si le développement et les mises à jour de notre site web vous intéressent, n’hésitez pas à suivre notre actualité sur :

                <div class="logo-about">
                    <a target="blank" href="https://discord.gg/Xk8sWJ4">
                        <img class="logo-rs"src="{{asset('image/Discord-Logo-Black.svg')}}"></img>
                    </a>
                    <a target="blank" target="blank" href="https://www.twitch.tv/projet_wordsmith">
                        <img class="logo-rs" src=" {{asset('image/twitch.svg')}} "></img>
                    </a>
                    <a target="blank" href="https://twitter.com/ProjetWordsmith">
                        <img class="logo-rs" src="{{asset('image/twitter-3.svg')}}"></img>
                    </a>
            </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}