{% extends 'base.html.twig' %}
{% block main %}
<div class="wrapper">
    <div class="container">
        <h1>A propos:</h1>
            <br>
            <h2>Qu'est ce que Wordsmith?</h2>
                <p>
                    Wordsmith est un projet à l’initiative de 4 étudiants de la formation https://oclock.io/ . 
                    A la fin de nos 4 mois de formation, les formateurs nous ont demandé de former des équipes et c’est tout naturellement que le groupe Wordsmith s’est formé.
                </p>
            <br>
            <h2>Pourquoi Aetherlust?</h2>
                <p>
                    Si Aujourd’hui Aetherlust existe, c’est avant tout grâce à notre passion pour le monde du jeu de rôle et les aventures de fantasies. 
                    Nous avons souhaité partager cette passion aux autres et grâce au génie maléfique de notre dessinatrice et autresse, 
                    nous avons pu développer un site web complet et une histoire passionnante.
                </p>
            <br>
            <h2>Mais du coup, Aetherlust, c'est quoi?</h2>
                <p>
                    Aetherlust est donc un jeu de rôle découpé en deux parties: 
                    D’un côté vous retrouverez sur le forum plein de personnes également passionné par le jeu de rôle et avec qui vous pourrez écrire des aventures pleines de surprises. 
                    De l’autre, vous pourrez partir avec vos amis sous la direction d’un maître du jeu dans une aventure plateau en ligne, pour visiter les espaces verdoyant de Kel’Nor et 
                    affronter des dangers que seule votre équipe de braves aventuriers pourraient terrasser.
                </p>
            <br>
            <h2>Ou nous suivre?</h2>
                <p>
                    Si le développement et les mises à jour de notre site web vous intéressent, n’hésitez pas à suivre notre actualité sur:<br>

                    Twitch:
                    <a href="https://www.twitch.tv/projet_wordsmith">https://www.twitch.tv/projet_wordsmith</a><br>
                    Twitter:
                    <a href="https://twitter.com/ProjetWordsmith">https://twitter.com/ProjetWordsmith</a><br>
                </p>
    </div>
</div>
{% endblock %}