{% extends 'base.html.twig' %}
{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">
        <div class="cgu">
            <h1>Conditions générales d'utilisation</h1>
            <p>"En naviguant sur notre site, l’internaute reconnaît avoir pris connaissance et accepté nos conditions générales d’utilisation." </p>
            <h2>Données personnelles</h2>
            <p>
                Les données personnelles qui peuvent vous être demandées (entre autre en vue de recevoir notre newsletter) sont votre pseudo, votre adresse mail ainsi que votre date de naissance. 
                Le traitement de ces données dont le responsable est Mr M.N, est en conformité avec le Règlement général de protection des données personnelles entré en vigueur le 25 Mai 2018. 
                Vous pouvez faire valoir vos droits de consultation, de rectification et de suppression en le contactant à l’adresse suivante <strong>projetkelnor@gmail.com</strong>.
                Nous nous engageons à ne pas revendre ni donner ces informations qui ne sont pas conservées dès lors que vous demandez la suppression de votre compte utilisateur.
            </p>

            <h2>Cookies</h2>
            <p>
                En vue d’améliorer notre site nous utilisons également les cookies nécessaires à l’amélioration de votre navigation sur notre site tenant compte exclusivement de votre navigateur. 
            </p>

            <h2>Propriété intellectuelle</h2>
            
            <p>
                La charte graphique du site web, les artworks et les contenus écrits du Codex ont été réalisé par Mlle Marion Job. 
                Ils sont la propriété de l’organisme et ne peuvent faire l’objet de reproduction.
            </p>

            <h2>Photographies et contenu</h2>

            <p>
                Les photographies, vidéos, textes et illustrations publiés sur le site sont propriété de l’organisme ou ont fait l’objet de cession de droits. 
                Ils ne peuvent faire l’objet d’aucune réutilisation. 
            </p>
                <h2>Liens hypertextes</h2>
            <p>
                Le site www[site internet] peut contenir des liens hypertextes renvoyant à des pages ou des sites dont le contenu ne peut engager en rien l’organisme. 
                Les liens hypertextes renvoyant vers notre site sont les bienvenus lorsqu’ils émanent de sites respectant la législation en vigueur.
            </p>
        </div>
    </div>
</div>
{% endblock %}