/* CSS GENERAL */

@import url('https://fonts.googleapis.com/css?family=BenchNine:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Palanquin:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../image/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:#0B0B0B;
    color:#BDBDBD;
    font-family: 'Palanquin', sans-serif;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height:100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
main {
    width:100%;
}
a {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-decoration:none;
}
a:hover {
    color: #843C1B;
}
.active {
    color: #125C38;
}
h1 {
    font-family: 'Forum', cursive;
    font-size:2.5em;
    font-weight:400;
    color: #125C38; 
    border-bottom:1px solid #503415;
    text-align:center;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-family: 'Forum', cursive;
    font-size:1.8em;
    font-weight:400;
    color: #125C38; 
    text-transform: uppercase; 
}
em {
    color:#b6804d;
    font-style: normal;
}
strong {
    font-weight:bold;
    color:#3f7a5d;
}
footer {
    padding:1em;
    background-color: #0B0B0B;
    display:flex;
    justify-content:space-evenly;
    border-top:1px solid #503415;
    text-transform:uppercase;
    position: absolute;
    bottom: 0px;
    width:100%;
}
footer ul li {
    list-style:none;
    display:inline-block;
}
small {
    font-family: 'BenchNine', sans-serif;
    text-transform:uppercase;
    font-size:0.9em;
    margin-bottom:0.2em;
    letter-spacing:0.075em;
    color:rgb(139, 139, 139);
}

/* BARRE DE DÉFILEMENT */
 /* Chrome, Safari */
 ::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}
 ::-moz-scrollbar {
    width: 7px;   
    height: 10px;
}
 ::-webkit-scrollbar-track-piece  {
    background-color: #0b0b0b;
}
 ::-moz-scrollbar-track-piece  {
    background-color: #0b0b0b;
    }
 ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    width:50px;
    background-color: #125C38;
    }
  ::-moz-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #125C38;
    border-radius: 5px;
}
 ::-webkit-scrollbar-thumb:horizontal{
    height: 30px;
    background-color: #0b0b0b;
}
 ::-moz-scrollbar-thumb:horizontal{
    height: 30px;
    background-color: #0b0b0b;
}
 /* FIN BARRE DE DÉFILEMENT */
/* Formulaires */

.login-error {
    color: rgb(218, 57, 57);
    font-family:'Nunito Sans', sans-serif;
    text-transform:uppercase;
    text-align:center;

}
/* .form-group {
    width:90%;
    margin:0.5em auto;
} */

textarea {
    padding:0.5em;
}
.form-group label, legend {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    display:block;
    font-size:1.5em;
    text-transform:uppercase;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.form-error-icon {
    display:none;
}

.form-error-message {
    display:block;
    color: rgb(218, 57, 57);
    font-family:'Nunito Sans', sans-serif;
    margin-top:0.3em;
    font-size:0.8em;
}

.container-width label, legend {
    font-size:1em;
}

fieldset {
    border:none;
    padding:0;
}

select {
    margin-top:0.5em;
    margin-left:0.4em;
    padding:0.5em;
    color:#BDBDBD;
    background-color:#0b0b0b;
    border:1px solid  #503415;
}
.form-group textarea {
    width:100%;
    height:6em;
    background-color:#0b0b0b;
    border:1px solid  #503415;
    color:#BDBDBD;
}
.form-group input {
    padding:0.5em;
    width:100%;
    color:#BDBDBD;
    background-color:#0b0b0b;
    border:1px solid  #503415;
}
form button {
    display:block;
    margin:auto;
    padding:0.3em 0.5em;
    border-radius:0.2em;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1em;
    font-weight:600;
    background-color: #125C38;  
    color: #BDBDBD;
    border:1px solid rgb(15, 49, 33);
    cursor:pointer;
}
.search-form {
    text-align:center;
    display:flex;
    justify-content: center;
}
.search {
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom:0.5em;
}

.move-form {
    /* width:31%;  */
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom:0.5em;
}
.search-form .form-group, 
input {
    display:inline-block;
    width:85%;
    border-color:#125C38;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.move-form .form-group {
    display:inline-block;
    width:62%;
    border-color:#125C38;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.move-form .form-control {
    width:100%;
    padding:0.2em;
    margin:0;
}

.search-form button {
    /* display:inline-block; */
    padding: 0.505em;
    margin-left:-0.315em;
    border-radius: 0 0.3em 0.3em 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #125C38;
    background-color:#125C38;
    font-size:1em;
}

.move-form .btn-flex {
    /* display:inline-block; */
    padding: 0.6em;
    margin-left:-0.2em;
    border-radius: 0 0.3em 0.3em 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #125C38;
    background-color:#125C38;
    font-size:1em;
}

.search-form label {
    display:none;
}

.search-form button:hover {
    background-color:rgb(15, 49, 33);
    border-color: rgb(15, 49, 33);
}

/* HEADER  */
/* Navbar  */
.fixed-navbar {
    position:fixed;
    width: 100%;
    z-index:1;
}
.navbar {
    font-family: 'Forum', cursive;
    font-size:1em;
    padding:0.5em 1em 0 1em;
    background-color: #0B0B0B;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #503415;
    text-transform:uppercase;
    letter-spacing:0.075em;
}
.navbar ul li {
    list-style:none;
    display:inline-block;
    margin-top:1em;
}
.navbar-left ul li {
    margin-right:0.8em;
}
.navbar-right ul li {
    margin-left:0.8em;
}
.logo {
    height:50px;
}
.logo-cristal {
    height:60px;
}

  /* Codex Navbar */
.navbar-codex {
    border-bottom:1px solid #503415; 
    background-color:#0D0D0D;
    width:100%;
    margin-top:0;
    margin-bottom:1em;
    font-size:1.2em;
}
.navbar-codex ul li {
    list-style: none;
    text-transform:uppercase;
}

.navbar-codex ul{
    margin-top:0;
    display:flex;
    justify-content: space-around;
    width:100%;
}

 /* Wrappers & containers */
 .wrapper {
    min-height:100vh;
    margin:auto;
    background-color:#0B0B0B; 
    padding:2em 1em 5em 1em;
}
.wrapper-homepage {
    min-height:100%;
    padding:3em 1em 1em 1em;
    background-color:none;
}
.wrapper-list {
    padding:2em 1em 1em 1em;
    margin:auto;
    background-color:#0B0B0B; 
}
.container {
    background-color:#0D0D0D;  
    border:1px solid  #503415; 
    padding:2em;
    margin-bottom:1.5em;
}

  /* Codex Navbar */
/* .navbar-codex {
    display:none;
} */
/* TOUS LES BOUTONS */
.btn {
    padding:0.3em 0.5em;
    border-radius:0.3em;
    font-family: 'Nunito Sans', sans-serif;
    font-size:0.8em;
    font-weight:600;
    background-color: #125C38;  
    color:#BDBDBD;
}
.btn:hover {
    background-color: rgb(15, 49, 33);  
    color: #BDBDBD;
}
.btn-tag {
    padding:0.1em 0.3em;
    background-color: #125C38;  
    color: #BDBDBD;
    border:1px solid rgb(15, 49, 33);
}
.btn-mod {
    margin-left:0.5em;
    color:rgb(132, 27, 36);
}
.btn-mod:hover {
    color:rgb(104, 19, 26);
}
.btn-return {
    padding:0.5em 1em;
    margin-top:0.5em;
    font-size:0.9em;
}
.show {
    color:#125C38;
}
/*Pagination*/
.moveOn{
    display: inline-block;
    padding:1em 1em;
}
.text-center{
    text-align: center;
}
.btn-pagination{
    font-size: 1.5em;
}
.fas .fa-arrow-down,
.fas .fa-arrow-up {
    font-size:0.5em;
}
/* Bouton submit */
.btn-submit {
    padding:0.5em 1em;
    margin-top:0.5em;
    font-size:1em;
}
.btn-submit:hover {
    background-color:rgb(15, 49, 33);  
}
/* FIN TOUS LES BOUTONS */

/* Codex */
.header-codex {
    background-image:url('https://nsa39.casimages.com/img/2018/08/14//180814093858746062.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:100% 100%;
    margin:1em;
    height:100%;
    border-radius:0.3em;
}
.last-article {
    display:inline;
    text-align:center;
}
.article-content {
    margin:0.5em;
    text-align:justify;
}
.article-content p {
    margin: 0.5em 0em;
}
.article-content td {
    text-align:center;
    padding:0.3em 0.8em;
    border:1px solid  #503415;
}
.article-content table {
    border-collapse: collapse;
    margin:1em;
}
.container-article h2 {
    color: #A56E3A;
}
.article-preview h2 {
    border-bottom:1px solid  #503415;
    text-align:left;
}

.article-preview {
    color:rgb(146, 146, 146);
    text-align:right;
}
.article-link {
    color:#125C38; 
}
.article-preview p {
    text-align:justify;
    font-size:0.9em;
    padding:0.5em 1em;
    color: #BDBDBD;
}
.article-footer {
    text-align:right;
}
.tags {
    margin-top:0.3em;
    margin-left:1em;
}

.article-tags {
    margin-bottom:1.5em;
}

/* Commentaires Codex */
.container-comment h2 {
    border-bottom:1px solid  #503415;
    margin-bottom:0.5em;
}
.comment {
    background-color:#0b0b0b;
    margin-bottom:1em;
    padding:1em;
}
.comment p {
    margin:0 1em;
    font-size:0.9em;
    text-align:justify;
}

.comment h4 {
    font-family: 'Forum', cursive;
    font-size:1.4em;
    font-weight:400;
    color: #A56E3A;
    text-transform:uppercase;
    margin-left:0.575em;
}
.comment small {
    margin-top:0.2em;
    color:rgb(139, 139, 139);
}
.comment-hidden {
    background-color:rgb(22, 22, 22);
    opacity: 0.7;
    text-align:right;
}

.deactivated {
    font-size:0.9em;
    margin-left:0.3em;
    color:rgb(235, 144, 83);
    text-transform:uppercase;
    font-family: 'BenchNine', sans-serif;
    letter-spacing:0.1em;
    text-align:right;
}

#avatar-small-codex {
    transform-origin: 50% 50%;
    overflow: hidden;
}
#avatar-small-codex {
    width: 30px;
    height: 30px;
    border-radius:50%;
}
#avatar-small-codex #image {
    width: 100%;
    margin-top:-10px;
}
 /* PROFIL EN ONGLETS */
.container-profil .left-side {
    text-align:center;
    width:30%;
}
.container-profil .left-side img {
    margin-bottom:1em;
    width:100%;
}
.container-profil .right-side {
    padding-left:1em;
    padding-right:1em;
    width:100%;
    min-height:20em;
}
#tabs {
    background-color:#0b0b0b;
    color: #BDBDBD;
    border:none;
}
.tabs-header {
    background-color: #000;
}
.tabs-header li {
    background-color:#0b0b0b;
    padding:0.5em;
    text-transform:uppercase;
    font-family: 'Forum', cursive;
    list-style:none;
    display:inline-block;
    border:1px solid #000000;
    border-bottom:2px solid #0b0b0b;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover {
    border-bottom: 2px solid #A56E3A;
}

.ui-tabs-anchor:active,
.ui-tabs-anchor:hover {
    border:0;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {
    border:1px solid #000000;
    border-top:0;
    background-color:#0b0b0b;
    color: #BDBDBD;
    padding:0.8em;
    text-align:justify;
    min-height:330px;
    max-height:330px;
    overflow:auto;
}
#tabs-1 ul, 
#tabs-2 ul {
    margin-bottom:1em;
}
#tabs-1 ul li,
#tabs-2 ul li {
    list-style:none;
    padding:0 1em;
}

#tabs-2 ul li {
    display:flex;
    justify-content:space-between;
}

.room-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.room-content h3 {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-transform:uppercase;
    font-size:0.8em;
    letter-spacing:0.2em;
}

.room-content-btn {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.room-content-btn .btn {
    margin:0.2em;
}
.container-profil {
    display:flex;
    align-items: flex-start;
    margin-top:1em;
}  

.profile-label {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-transform:uppercase;
    font-size:1.1em;
}
.profile-title {
    display:flex;
    border-bottom:1px solid rgb(119, 67, 7);
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.5em;
}

/* FORUM */

.container-forum {
    padding:0;
}
.container-subcategory {
    background-color:#0D0D0D;  
    border:1px solid  #503415; 
    margin:1.5em;
    padding:0.5em;
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-height:20%;
}
.category-header {
    background-color:#0b0b0b;
    text-align:center;
    border-bottom:1px solid  #503415; 
    padding:1em;
}
.category-header .title {
    display:flex;
    justify-content: center;
    width:80%;
    margin:auto;
}
.category-header h2 {
    color:#A56E3A;
}
.category-header .title h2 {
    font-size:1.3em;
    color:#A56E3A;
    margin-right:0.5em;
}

.category-header .title a {
    color:#125C38;
}

.category-header p {
    text-align:justify;
    font-size:0.8em;
    margin:1em;
    background-color:#0D0D0D;
}
.description,
.statistic,
.last-message {
    margin-bottom:0;
    padding:0;
    background-color:#0b0b0b;
    border:1px solid black;
    min-height:6em;
}
.description {
    width:60%;
    padding:0.2em;
}
.description h3 {
    font-family: 'Forum', cursive;
    font-size:1.5em;
    font-weight:400;
    color: #125C38; 
    border-bottom:1px solid #503415;
    margin: 0;
    text-transform: uppercase;
}
.description p {
    max-height: 4em;
    text-align:justify;
    font-size:0.775em;
    padding: 0.3em 0.5em;
    line-height:1;
    overflow:auto;
}
.statistic {
    width:17%;
    padding:0.5em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last-message {
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statistic small {
    font-size:0.7em;
    margin-top:0.8em;
    color:#BDBDBD;
    text-align:center;
}

.last-message small {
    font-size:0.675em;
    margin-top:0.1em;
    margin-bottom:-0.2em;;
}

.last-message a {
    text-transform:lowercase;
    font-family: 'Palanquin', sans-serif;
}
.post-link {
    font-size:0.8em;
}
.author-name {
    font-size:0.855em;
    font-weight:bold;
}
.icon-pa {
    width:40%;
    border-radius:50%;
}
/* AFFICHAGE DE LA LISTE DES SUJETS */
.thread {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.thread-icon,
.thread-description,
.thread-author,
.thread-statistic,
.thread-last-message {
    margin:0.075em;
    padding:0.5em;
    background-color:#0b0b0b;
    border:0;
    height:3.5em;
    box-shadow: inset 0px 0px 14px 5px #050505;
    -webkit-box-shadow: inset 0px 0px 14px 5px #080808;
    -moz-box-shadow: inset 0px 0px 14px 5px #050505;
    -o-box-shadow: inset 0px 0px 14px 5px #050505;
}
.thread-icon {
    padding-top:1em;
    width:5%;
}
.thread-description {
    width:50%;
}

.thread-author {
    width:23%;
    text-align:center;
    padding-top:1em;
}

.thread-description a {
    text-transform:lowercase;
    font-size:0.8em;
    font-family: 'Palanquin', sans-serif;
}
.thread-statistic {
    width:10%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:1em;

}
.thread-last-message {
    width:17%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.icon {
    width:100%;
    border-radius:50%;
    background-color:#0D0D0D;
}

.container-index{
    width:49%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-article {
    margin-top:1em;
}
.description a {
    color:#125C38;
}
.description a:hover {
    color:rgb(27, 136, 83);
}

.form-margin {
    margin:1em;
}
.subcategory-action {
    margin:1.5em 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* Affichage d'un sujet */
.wrapper-flex {
    display:flex;
    justify-content: space-between;
    padding:0.5em;
}
.wrapper-flex .right-side {
    width:70%;
    margin:0.5em;
}
.wrapper-flex .left-side {
    margin:0.5em 0.5em 0.5em 1.3em;
}
.top-link {
    text-transform:uppercase;
    letter-spacing:0.1em;
}
.author-info {
    background-color:#0B0B0B;
    border:1px solid #503415;
    width:100%;
    text-align:center;
    padding:0.5em;
    margin-bottom:0.5em;
}
.author-info h4 {
    text-transform:uppercase;
    font-size: 1.1em;
    letter-spacing:0.1em;
    border-bottom:1px solid #503415;
}
.author-rank {
    font-family: 'BenchNine', sans-serif;
    letter-spacing:0.1em;
    color:#BDBDBD;
    text-transform:uppercase;
}
.container-post{
    padding: 0 1em 1em 1em;
    border:0;
}
.container-post p {
    margin:0.3em 0.5em;
}
.post-information {
    text-align:center;
    margin:0.3em 0.5em;
    border-bottom:1px solid #503415;
    text-transform:uppercase;
}
.thread-action {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:1.5em 0;
    color:#A56E3A;
}
/*
 * Homepage
 */
 .homepage{
    height: 100vh;
 }
 .ul-li-home{
    display: inline-block;
    margin: 1em;
    flex-wrap: wrap;
 }
 .nav-wrap{
    background-color:#20202033;
 }
  .ul-li-connexion{
    display: inline;
    justify-self: center;
    margin: 1em;
    padding: 1em;
    background-color:#20202033;
 }
  .centering{
    display: flex;
    justify-content: center;
 }
 .content{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: 1.2em;
 }
 .logo-rs{
    width:4em;
    height:4em;
    margin-left:2em;
    color: #FFFFFF;
 }
 .logo-place{
    display: flex;
    justify-content: center;
    margin-top:5em;
    margin-bottom: 5em;
 } 
 .foot-content{
    text-align: center;
 }

.thread-moderation {
    width:40%;
    margin-left:60%;
}
#avatar-small {
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
#avatar-small {
    width: 50px;
    height: 50px;
    border-radius:50%;
    /* transform: rotate(-45deg) translateY(-74px); */
}
#avatar-small #image {
    width: 100%;
    margin-top:-10px;
}