{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block main %}

<div class="wrapper">
    <div class="container container-forum">
        <div class="category-header">
            <h2>Editer le post</h2>
        </div>

    {{ include('forum/post/_form.html.twig') }}

    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/ckeditor-forum/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/ckeditor-forum/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'post_content' );
    </script>
{% endblock %}
