.btn-delete {
    display:inline-block;
}

.row {
    height: 93vh;
}

#article_content {
    width:500px;
}

#dropdownMenuLink1 {
    display:inline;
}
#dropdownMenuLink1:hover {
    border:none;
}
#dropdownMenuLink1:active {
    border:none;
}
