{% extends 'base.html.twig' %}

{% block title %}{{subcategory.name}}{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
    <div class="category-header">
        <h2>{{subcategory.name}}</h2>
        <p>{{subcategory.description}}</p>
    </div>
 </div>
{% endblock %}
