{% extends 'backend/basebackend.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main %}
    
    <a class="btn btn-primary mt-2 mb-2" href="{{ path('backend_article_index') }}">Retour</a>
    <h1>Editer l'article</h1>
    {{ include('backend/codex/article/_form.html.twig', {'button_label': 'Envoyer'}) }}

    

{% endblock %}