/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
.logo
    border: 1px solid black
    text-align: center
    grid-area: l
    background-repeat: no-repeat
    background: url(../../assets/img/logoCristal.png) no-repeat center
    background-size: contain
    