{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    <div class="wrapper-homepage">
    <div class="container container-width">
    <h1>Nous rejoindre</h1>
        {{ form_start(form)  }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-success">Inscription</button>
        </div>
    </div>
{% endblock %}