@import vars
@import reset
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter:regular);
@import url(https://fonts.googleapis.com/css?family=Ruslan+Display:regular);
#root
  width: 100vw
  height: 100vh
  font-family: $test-font