{% extends 'base.html.twig' %}

{% block title %}Editer la Room{% endblock %}

{% block main %}
    <div class="wrapper-homepage">
        <div class="container container-width">

        <h1>Editer la Room</h1>

        {{ include('room/_form.html.twig', {'button_label': 'Modifier'}) }}

        </div>
    </div>
{% endblock %}
