{% extends 'base.html.twig' %}

{% block title %}Aetherlust{% endblock %}

{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">

        <h1>Oups</h1>
        
        <p>Mmmmmhh, on dirait que le MJ ne t'a pas invité à rejoindre cette room.</p>
        <p>Puisque le MJ n'a jamais tort, on va dire que tu as voulu jouer au petit curieux alors : file, il n'y a rien à voir ici !</p>

        <small>Bon et puis si jamais c'est vraiment le MJ qui t'a oublié, pense à le contacter pour qu'il t'ajoute à la liste des participants !</small>
        
    </div>
</div>
{% endblock %}
