{% extends 'base.html.twig' %}

{% block title %}Show room{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container">
        <form action="{{path('room_access')}}" method="GET">
            <input id="code" name="code" type="hidden" value="{{room.code}}">
            <input id="id" name="id" type="hidden" value="{{room.dungeonMaster.id}}">
            <button type="submit">Accéder à la room</button>
        </form>
    </div>
</div>
{% endblock %}
