{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container container-forum">
        <div class="category-header">
            <h2>Répondre au sujet <em>{{thread.title}}</em></h2>
        </div>

    {{ include('forum/post/_form.html.twig') }}

    </div>
</div>
{% endblock %}
