/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
.switch
    &-map
        &-button
            color: $font-color-italic
            background-color: $border-color
            font-family: $test-font
            font-size: 1.5em
            border: none

        &-checkbox
            display: block
        &-label
            display: inline
            color: $font-color-italic