/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
.switch
    &-map
        &-button
            font-family: $test-font
            font-size: 1.5em
        &-checkbox
            display: block
        &-label
            display: inline