<div class="tagbar">
    <h2>Sommaire</h2>
    <ol>
        {% for tag in tags %}
        <li>
            <a href="{{path('search_by_tags',{'id':tag.id})}}">{{tag.name}}</a>
        </li>
        {% endfor %}
    </ol>   
</div>   