{% extends 'base.html.twig' %}
        {% block body %}
                <ul>
                    <li>
                        <a href="{{path('homepage')}}">Revenir à l'acceuil</a>
                    </li>
                    <li>
                        <a href="{{path('search')}}">Liste des articles</a>
                    </li>
                </ul>
        {% endblock %}

