/**
 * Import
 */
@import ../../styles/vars

/**
 * Styles
 */
.logo
  // border: 1px solid black
  text-align: center
  grid-area: l
  background: url(../../assets/img/logoaccident4.png) no-repeat center
  background-size: contain
  &:hover
    animation-name: magicCristal
    animation-duration: 1.3s
    animation-fill-mode: forwards
    animation-timing-function: linear
    // animation: blur 1s linear forwards;

.help-over
  animation-name: help-animation
  animation-duration: .2s
  animation-fill-mode: forwards
  animation-timing-function: linear
  // animation: blur 1s linear forwards;
  position: absolute
  background-color: rgba(0, 0, 0, .5)
  z-index: 2002

  /** KEYFRAMES **/
@keyframes magicCristal 
  0%
  25%
  50%
    background: url(../../assets/img/meht.png) no-repeat center
    background-size: contain
    z-index: 2003
  75%
  100% 
    background: url(../../assets/img/logoaccident4.png) no-repeat center
    background-size: contain

@keyframes help-animation 
  0%
    width: 1%
    height: 1%
    left: 50%
    top: 50%
  25%
  50%
  75%
  100%
    width: 100vw
    height: 100vh
    left: 0
    top: 0