/**
 * Import
 */
@import ../../styles/vars

/**
 * Styles
 */
.logo
  // border: 1px solid black
  text-align: center
  grid-area: l
  background: url(../../assets/img/logoaccident4.png) no-repeat center
  background-size: contain
  &:hover
    animation-name: magicCristal
    animation-duration: .7s
    animation-fill-mode: forwards
    animation-timing-function: linear
    // animation: blur 1s linear forwards;

  /** KEYFRAMES **/
@keyframes magicCristal 
  0%
  25%
  50%
  75%
  100% 
    background: url(../../assets/img/meht.png) no-repeat center
    background-size: contain

    
        