
{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block main %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Poster</button>
        {{ form_end(form) }}
    </div>
{% endblock %}