{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block main %}
{{ user.username }}
{{ user.email}}
{{ user.birthdate|date("d-m-Y")}}

 <a href="{{path('user_profile_edit', {'id': user.id }) }}">Modifier le profil</a>
{% endblock %}
