/**
 * Import
 */
@import src/styles/vars

/**
 * Style
 */
.help
    background-color: green
    height: 100%
    witdh: 100%
    background: url(../../../assets/img/paper.jpg) no-repeat
    background-size: cover
    