/**
 * Import
 */
@import src/styles/vars

/**
 * Style
 */
.help
  display: grid
  grid-template-rows: 5% auto 80% 5%
  grid-template-columns: 15% 70% 15%
  height: 100%
  witdh: 100%
  background: url(../../../assets/img/parchment.png) no-repeat
  background-size: cover
  &-title
    grid-column: 1 / 4
    grid-row: 2
    margin: auto auto
  &-ol
    overflow: auto
    grid-column: 2 / 3
    grid-row: 3
    &-li
      padding: .5em 0
    
    