@import url('https://fonts.googleapis.com/css?family=BenchNine:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Palanquin:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://nsa39.casimages.com/img/2018/08/12//180812035309968266.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:#BDBDBD;
    font-family: 'Palanquin', sans-serif;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height:100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
main {
    width:100%;
}
a {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-decoration:none;
}
a:hover {
    color: #843C1B;
}
.active {
    color: #125C38;
}
h1 {
    font-family: 'Forum', cursive;
    font-size:2.5em;
    font-weight:400;
    color: #125C38; 
    border-bottom:1px solid #503415;
    text-align:center;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-family: 'Forum', cursive;
    font-size:1.8em;
    font-weight:400;
    color: #125C38; 
    text-transform: uppercase; 
}
em {
    color:#A56E3A;
    font-style: normal;
}
footer {
    padding:1em;
    background-color: #0B0B0B;
    display:flex;
    justify-content:space-between;
    border-top:1px solid #503415;
    text-transform:uppercase;
    position: absolute;
    bottom: 0px;
    width:100%;
}
footer ul li {
    list-style:none;
    display:inline-block;
}
small {
    font-family: 'BenchNine', sans-serif;
    text-transform:uppercase;
    font-size:0.9em;
    margin:0;
    letter-spacing:0.075em;
}

/* HEADER  */
/* Navbar */
.fixed-navbar {
    position:fixed;
    width: 100%;
}
.navbar {
    font-family: 'Forum', cursive;
    font-size:1em;
    padding:0.5em 1em 0 1em;
    background-color: #0B0B0B;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #503415;
    text-transform:uppercase;
    letter-spacing:0.075em;
}
.navbar ul li {
    list-style:none;
    display:inline-block;
    margin-top:1em;
}
.navbar-left ul li {
    margin-right:0.8em;
}
.navbar-right ul li {
    margin-left:0.8em;
}
.logo {
    height:50px;
}
/* Fin navbar */

/* Codex Navbar */
.navbar-codex {
    margin-top:0;
    margin-bottom:1em;
    font-size:1.2em;
}
.navbar-codex ul li {
    list-style: none;
}

.navbar-codex ul {
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

/* Codex Aside = Sommaire */
.tagbar {
    position:fixed;
    margin-top:5.2em;
    min-width:12%;
    padding:0.3em 0.8em;
    background-color:#0D0D0D;  
    border:1px solid  #503415;
    margin-left:1em;
}
.tagbar ol {
    margin-left:1.2em;
    color:#125C38;
    list-style-type: upper-roman;
}
.tagbar h2 {
    border-bottom: 1px solid  #503415; 
    margin-bottom:0.2em;
}
.taglist-title em {
    color: #A56E3A;
}
/* Fin sommaire Codex */

/* Wrappers & containers */
.wrapper {
    width:45%;
    margin:auto;
    background-color:#0B0B0B; 
    padding:5em 1em 5em 1em;
}
.wrapper-homepage {
    padding:5em 1em 1em 1em;
    width:100%;
    background-color:none;
}
.wrapper-codex {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper-list {
    padding:5em 1em 1em 1em;
    width:45%;
    margin:auto;
    background-color:#0B0B0B; 
}
.container {
    background-color:#0D0D0D;  
    border:1px solid  #503415; 
    padding:2em;
    margin-bottom:1.5em;
}

.container-forum {
    padding:0;
}

.container-subcategory {
    background-color:#0D0D0D;  
    border:1px solid  #503415; 
    margin:1.5em;
    padding:1em;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.category-header {
    background-color:#0b0b0b;
    text-align:center;
    border-bottom:1px solid  #503415; 
    padding:1em;
}
.category-header h2 {
    color:#A56E3A;
}

.category-header p {
    text-align:justify;
    font-size:0.8em;
    margin:1em;
    background-color:#0D0D0D;
}

.description,
.statistic,
.last-message {
    margin-bottom:0;
    padding:0.5em;
    height:7em;
    background-color:#0b0b0b;
    border:1px solid black;
}

.description {
    width:55%;
}
.statistic {
    width:20%;
}

.last-message {
    width:20%;
}

.description h3 {
    font-family: 'Forum', cursive;
    font-size:1.5em;
    font-weight:400;
    color: #125C38; 
    border-bottom:1px solid #503415;
    margin: 0;
    text-transform: uppercase;
}

.description p {
    max-height: 3em;
    text-align:justify;
    font-size:0.8em;
    padding: 0.1em 0.5em;
}

.icon {
    width:10%;
    height:5em;
    background-color:red;
}

.container-index{
    width:49%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-width {
    width:45%;
    margin:0 auto 3.5em;
}
.container-article {
    margin-top:1em;
}

.description a {
    color:#125C38;
}

.description a:hover {
    color:rgb(27, 136, 83);
}
/* Codex */

.header-codex {
    background-image:url('https://nsa39.casimages.com/img/2018/08/14//180814093858746062.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:100% 100%;
    margin:1em;
    height:20em;
    border-radius:0.3em;
}
.article-content {
    margin:0.5em;
    text-align:justify;
}
.article-content p {
    margin: 0.5em 0em;
}
.article-content td {
    text-align:center;
    padding:0.3em 0.8em;
    border:1px solid  #503415;
}
.article-content table {
    border-collapse: collapse;
    margin:1em;
}
.container-article h2 {
    color: #A56E3A;
}
.article-preview h2 {
    border-bottom:1px solid  #503415;
    text-align:left;
}

.article-preview {
    color:rgb(146, 146, 146);
    text-align:right;
}
.article-link {
    color:#125C38; 
}
.article-preview p {
    text-align:justify;
    font-size:0.9em;
    padding:0.5em 1em;
    color: #BDBDBD;
}

/* Boutons tags Codex */
 .tags {
     margin-left:1em;
}

.article-tags {
    margin-bottom:1.5em;
}
.btn {
    padding:0.3em 0.5em;
    border-radius:0.3em;
    font-family: 'Nunito Sans', sans-serif;
    font-size:0.8em;
    font-weight:600;
    background-color: #125C38;  
    color:#BDBDBD;
}
.btn:hover {
    color:rgb(83, 224, 156); 
}
.btn-tag {
    padding:0.1em 0.3em;
    background-color: #125C38;  
    color: #BDBDBD;
    border:1px solid rgb(15, 49, 33);
}
.btn-tag:hover, .btn-admin:hover {
    background-color: rgb(15, 49, 33);  
    color: #BDBDBD;
}
.btn-admin {
    position:fixed;
    bottom:6%;
    right:2%;
    background-color:#125C38;  
    color: #BDBDBD;
    padding:0.3em 0.5em;
}

.btn-mod {
    margin-left:0.5em;
}

.show {
    color:#125C38;
}

/* Commentaires Codex */
.container-comment h2 {
    border-bottom:1px solid  #503415;
    margin-bottom:0.5em;
}
.comment {
    background-color:#0b0b0b;
    margin-bottom:1em;
    padding:1em;
}
.comment p {
    margin:0 1em;
    font-size:0.9em;
}
.comment-header {
    display:flex;
    align-items: center;
}
.comment h4 {
    font-family: 'Forum', cursive;
    font-size:1.2em;
    font-weight:400;
    color: #A56E3A;
    text-transform:uppercase;
}
.comment small {
    margin-left:1em;
    margin-top:0.2em;
    color:rgb(139, 139, 139);
}
.comment-hidden {
    background-color:rgb(22, 22, 22);
    opacity: 0.7;
    text-align:right;
}

.comment-hidden p {
    text-align:left;
}
.deactivated {
    font-size:0.9em;
    margin-left:0.3em;
    color:rgb(235, 144, 83);
    text-transform:uppercase;
    font-family: 'BenchNine', sans-serif;
    letter-spacing:0.1em;
    text-align:right;
}
/* Formulaires */
.form-group {
    width:90%;
    margin:0.5em auto;
}
.form-group label, legend {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    display:block;
    font-size:1.5em;
    text-transform:uppercase;
    margin-bottom:0.2em;
}

.form-error-icon {
    display:none;
}

.form-error-message {
    display:block;
    color: rgb(218, 57, 57);
    font-family:'Nunito Sans', sans-serif;
    margin-top:0.3em;
    font-size:0.8em;
}

.container-width label, legend {
    font-size:1em;
}

fieldset {
    border:none;
    padding:0;
}

select {
    margin-top:0.5em;
    margin-left:0.4em;
    padding:0.5em;
    color:#BDBDBD;
    background-color:#0b0b0b;
    border:1px solid  #503415;
}
.form-group textarea {
    width:100%;
    height:6em;
    background-color:#0b0b0b;
    border:1px solid  #503415;
    color:#BDBDBD;
}
.form-group input {
    padding:0.5em;
    width:100%;
    color:#BDBDBD;
    background-color:#0b0b0b;
    border:1px solid  #503415;
}
form button {
    display:block;
    margin:auto;
    padding:0.3em 0.5em;
    border-radius:0.2em;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1em;
    font-weight:600;
    background-color: #125C38;  
    color: #BDBDBD;
    border:1px solid rgb(15, 49, 33);
    cursor:pointer;
}

.search-form {
   width:31%;
   display:flex;
   flex-flow:row wrap;
   align-items: center;
}
.search-form .form-group, input {
    display:inline-block;
    width:85%;
    border-color:#125C38;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}


.search-form button {
    display:inline-block;
    padding: 0.505em;
    margin-left:-0.175em;
    border-radius: 0 0.3em 0.3em 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #125C38;
    background-color:#125C38;
    font-size:1em;
}

.search-form label {
    display:none;
}

.search-form button:hover {
    background-color:rgb(15, 49, 33);
    border-color: rgb(15, 49, 33);
}

/* Onglets */

.left-side {
    text-align:center;
    width:30%;
}

.left-side img {
    margin-bottom:1em;
    max-width:200px;
}
.right-side {
    padding-left:1em;
    padding-right:1em;
    width:70%;
}
#tabs {
    background-color:#0b0b0b;
    color: #BDBDBD;
    border:none;
}
.tabs-header {
    background-color: #000;
}
.tabs-header li {
    background-color:#0b0b0b;
    padding:0.5em;
    text-transform:uppercase;
    font-family: 'Forum', cursive;
    list-style:none;
    display:inline-block;
    border:1px solid #000000;
    border-bottom:2px solid #0b0b0b;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover {
    border-bottom: 2px solid #A56E3A;
}

.ui-tabs-anchor:active,
.ui-tabs-anchor:hover {
    border:0;
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4 {
    border:1px solid #000000;
    border-top:0;
    background-color:#0b0b0b;
    color: #BDBDBD;
    padding:0.8em;
    text-align:justify;
}
#tabs-1 ul {
    margin-bottom:1em;
}
#tabs-1 ul li {
    list-style:none;
    padding:0 1em;
}
.room-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.room-content h3 {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-transform:uppercase;
    font-size:0.8em;
    letter-spacing:0.2em;
}

.room-content-btn {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.room-content-btn .btn {
    margin:0.2em;
}
.container-profil {
      display:flex;
      align-items: flex-start;
      margin-top:1em;
}  

.profile-label {
    font-family: 'Forum', cursive;
    color: #A56E3A;
    text-transform:uppercase;
    font-size:1.1em;
}

.profile-title {
    display:flex;
    border-bottom:1px solid rgb(119, 67, 7);
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.5em;
}

.last-article {
    display:flex;
    justify-content: space-between;
    align-items: center;
}