{% extends 'backend/basebackend.html.twig' %} 

{% block title %}Hompage{% endblock %}



{% block main %}
<div>Ici un widget</div>
<div>Ici un widget</div>
<div>Ici un widget</div>














{% endblock %}