/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */
.switch
    &-board
            position: relative
            margin: auto
            display: inline-block
            padding: .3em
            background-color: #DDDDDD
            &-picker
                position: absolute
                z-index: 5
            &-form
                display: flex
            &-input
                padding: .5em
                font-family: $test-font
