<div class="navbar navbar-codex">
    <ul>
        {% for tag in tags %}
        <li>
            <a href="{{path('search_by_tags',{'id':tag.id})}}">{{tag.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>