{% extends 'base.html.twig' %}


{% block body %}
<div>
    {% for room in rooms %}
        <h2> {{ room.name}} </h2>
        <p>Maitre du jeu :{{room.dungeonmaster}}</p>
        <p>Liste des joueurs invité dans la partie:</p>
        <ul>
        </ul>
    {% endfor %}
    
</div>
{% endblock %}
