{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block main %}
    <h1>Room index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Maitre du jeu</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td><a>{{room.dungeonmaster.username}}</a></td>
                {% if room.dungeonmaster.username == app.user.username %}
                <td><a href="{{ path('room_edit', {'id': room.id}) }}"><i class="far fa-edit"></i></a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('room_new') }}">Créé une room</a>  
{% endif %}
{% endblock %}
