{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        <div>
            <h3>{{article.title}}</h3>
            <p>{{article.content}}</p>
            <span>Ecrit le {{article.dateInserted|date("d/m/Y")}} à  {{article.dateInserted| date("H:i")}}</span>
        </div>
    {% endfor %}
{% endblock %}
