.wrapper {
    width:50%;
}

.container-width{
    width:50%;
}

/*Changement de sous catégorie*/
.moveOn{
    display: inline-block;
    padding:1em 1em;
}
/*Pagination*/
.text-center{
text-align: center;
}
.btn-pagination{
    font-size: 1.5em;
}

#blocAVA {
    width:200px; 
    height:320px; 
    margin:8 auto 0; 
    overflow:hidden;
}
.blocAVA {
    position:relative; 
    width:200px; 
    height:320px; 
    overflow:hidden;
}
/* AVATAR */
.avaPOST {
    width:200px; 
    height:320px;
    transition:transform 0.75s linear; 
    -webkit-transition:transform 0.75s linear;
}
#blocAVA:hover .avaPOST {
    transform:translateX(200px); 
    -webkit-transform:translateX(200px);
}
/* BLOC INFORMATIONS JOUEUR */
.abtPOST {
    position:absolute; 
    margin-top:-320px;padding:5px; 
    width:188px; height:308px; 
    overflow:auto;
    background:#040404;
    transform:translateX(-200px); 
    -webkit-transform:translateX(-200px);
    transition:transform 0.75s linear; 
    -webkit-transition:transform 0.75s linear;
    border: #17171f 1px solid;
} 
#blocAVA:hover .abtPOST {
    transform:translateX(0px); 
    -webkit-transform:translateX(0px);
}
/* CONTENU INFORMATIONS JOUEUR */
.abtPOST div{
    margin:2px auto;
    width:178px; 
    padding:5px;
    font-family:Helvetica; 
    font-size:10px; 
    text-align:justify;
    color:#A3A3A3; 
    background-color:#08080B;
}
/* TITRES INFORMATIONS JOUEUR */
.abtPOST div span{
    font-size:11px;
    letter-spacing:2px;
    text-transform:uppercase; 
    color:#206c77! important;
    font-family: 'BenchNine', sans-serif;
    font-weight:bold;
}
/* REDIMENSIONNEMENT IMAGES BLOC INFORMATIONS */
.abtPOST div img{
    margin:auto; 
    max-width:180px;
}