/**
 * Import
 */
@import ../../../styles/vars

/**
 * Styles
 */
.mapSwitch
        &-button
            @extend %click-button
            margin: 0.6em 3.7em 0.6em 0.5em
            border: none
            display: block
            &:disabled
                opacity: .5



        &-checkbox
            display: inline-block
            color: black
        &-label
            display: inline
            color: $link-color