{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">
        <h1>Create new Room</h1>
        {{ include('room/_form.html.twig') }}
    </div>
</div>
{% endblock %}
