{% extends 'backend/basebackend.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main %}
    <h1 class="mb-3 mt-3">Editer l'article</h1>
    {{ include('backend/codex/article/_form.html.twig', {'button_label': 'Envoyer'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace( 'ckeditor' );
    </script>
{% endblock %}