{% extends 'backend/basebackend.html.twig' %}

{% block title %}New Rank{% endblock %}

{% block main %}
    <h1>Create new Rank</h1>

    {{ include('backend/forum/rank/_form.html.twig') }}

{% endblock %}
