@import vars
@import reset
@import url(https://fonts.googleapis.com/css?family=Acme:regular);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One:regular);
@import url(https://fonts.googleapis.com/css?family=BenchNine:300,400,700%27);
// @import url(https://fonts.googleapis.com/css?family=Forum%27);
@import url(https://fonts.googleapis.com/css?family=Palanquin:300,400,600%27);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700%27);
#root
  // max-width: 900px
  width: 100vw
  height: 100vh
  font-family: $test-font
  background: url(./assets/img/appBg.png) no-repeat
  background-size: cover
  display: flex
