{% extends 'base.html.twig' %}
{% block title %}Nom de votre personnage{% endblock %}

{% block main %}
<div class="wrapper-homepage">
    <div class="container container-width">
        <h1>Veuillez renseigner le nom de votre personnage</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-submit" type="submit">Poster</button>
        {{ form_end(form) }}
    </div>
 </div>
{% endblock %}