<div class="subcategory-action">
    <a class="btn btn-return" href="{{path('thread_new', {'subcategory_id' : subcategory.id})}}">Nouveau</a>
    {# Si page supérieure à 1 on affiche un bouton précédent qui mène à la page-1 #} 
    {% if page > 1 %}
        <a href="{{path('forum_subcategory',{'id':subcategory.id,'page':page -1})}}" class="btn-pagination">
            <i class="fas fa-arrow-left"></i> 
        </a>
    {% endif %} {# si page inférieure à la page max calculée alors on affiche un bouton suivant qui mène à la page +1 #} 
    {% if page < pageMax %}
        <a href="{{path('forum_subcategory',{'id':subcategory.id,'page':page +1})}}" class="btn-pagination">
            <i class="fas fa-arrow-right"></i>
        </a>  
    {% endif %}
</div>